
<h1 style="text-align: center;">Demo</h1>
<div style="text-align: center;">Hi!! this is my first angular program</div>
<!--<div style="text-align: center;">{{title}} is running</div>
<div style="text-align: center;">{{title}} is running at port {{2*2100}}</div>
<input type="text" [value]="data">
<button (click)="data='def'">submit</button>


<div>
<input type="text" [(ngModel)]="title" required>
</div>
<button (click)="fnc()">Click</button>

<app-test [msg]="'Welcome to HCL'" (onCall)="display($event)"></app-test>
<p>{{data}}</p>-->
<app-interest></app-interest>
